/* header */
header {
    height: 4rem;
    background: linear-gradient(#1abc9c 50%, transparent 100%);
}
header .header-container {
    padding: 0 60px;
    vertical-align: middle;
}
#logo {
    width: auto;
    height: 2rem;
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
}
#nav-title {
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 2rem;
    color: #333;
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
}
header a:link:hover {
    text-decoration: none;
}
/* footer */
footer {
    background: #1abc9c;
    padding: 1em 0;
}
footer a:link {
    color: #333333;
}
/* font for languages */
@media (min-width: 992px) {
    html, body, #write {
        font-size: 24px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    html, body, #write {
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    html, body, #write {
        font-size: 48px;
    }
}
body, *[lang="zh"] {
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
}
*[lang="ja"] {
    font-family: "Hiragino Sans GB", "Yu Gothic", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
}
*[lang="ja-Latn"] {
    font-family: "Times New Roman", serif;
}
*[lang="x-ipa"] {
    font-family: "Doulos SIL", "Gentium Plus", "Claris SIL", "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}
/* patches for main #write area */
#write ul {
    margin-left: 2em;
}
#write a.external-link:after {
    content: url("./external-link.svg");
    vertical-align: middle;
}
@media (min-width: 768px) {
    #write .lyrics_outer {
        margin: 1em;
        padding: 1em;
        text-align: center;
    }
}
@media (max-width: 768px) {
    #write .lyrics_outer {
        margin: 0.5em 0;
        padding: 0.5em;
        text-align: left;
    }
}
#write .lyrics_outer {
    border: #333333 1px solid;
}
#write .lyrics>p {
    text-indent: 0;
    margin-bottom: 0;
}
#write h1 {
    padding-bottom: 0;
    border-bottom: none;
}
/* meta-data */
.meta-data {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 3px double #eee;
}
.meta-data>div {
    font-size: 8px;
    color: #ccc;
}
.meta-data>div.author>span:before {
    content: url("./author.svg");
    vertical-align: middle;
    margin-right: 0.5em;
}
.meta-data>div.created-at>span:before {
    content: url("./created.svg");
    vertical-align: middle;
    margin-right: 0.5em;
}
.meta-data>div.last-modified-at>span:before {
    content: url("./modified.svg");
    vertical-align: middle;
    margin-right: 0.5em;
}
.meta-data>div.jump-to-lyrics>span:before {
    content: url("./jump-to-lyrics.svg");
    vertical-align: middle;
    margin-right: 0.5em;
}
/* background-image */
article .lyrics_outer {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}
article .lyrics {
    background-color: rgba(255, 255, 255, 0.9);
}
/* black covers */
.covered, .covered :link {
    color: #333;
    background-color: #333;
}
.covered:hover {
    color: #fff;
    background-color: #333;
}
.covered :link:hover {
    color: #1abc9c;
    background-color: #333;
}
