<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>模板</title>
</head>
<body>
<div>
  <!-- links to an external site -->
  <a th:fragment="external(literal, href)"
     rel="nofollow noopener noreferrer" class="external-link" target="_blank"
     th:title="|${literal}(外部链接)|" th:href="${href}" th:utext="${literal}">
    Template Dummy Text
  </a>
  <a th:fragment="bilibili(literal, href)"
     rel="nofollow noopener noreferrer" class="external-link bilibili-link" target="_blank"
     th:title="|${literal}(bilibili)|" th:href="@{|https://www.bilibili.com/${href}|}" th:utext="${literal}">
    Template Dummy Text
  </a>
  <a th:fragment="bilibili-video(literal, bvId, page)"
     rel="nofollow noopener noreferrer" class="external-link bilibili-link" target="_blank"
     th:title="|${literal}(bilibili)|" th:href="@{|https://www.bilibili.com/video/BV${bvId}?p=${page}|}"
     th:utext="${literal}">
    Template Dummy Text
  </a>
  <a th:fragment="moegirl(literal, href)"
     rel="nofollow noopener noreferrer" class="external-link moegirl-link" target="_blank"
     th:title="|${literal}(萌娘百科)|" th:href="@{|https://zh.moegirl.org.cn/${href}|}" th:utext="${literal}">
    Template Dummy Text
  </a>
  <!-- links to an internal site -->
  <a th:fragment="internal(literal, href)"
     class="internal-link"
     th:title="${literal}" th:href="${href}" th:utext="${literal}">
    Template Dummy Text
  </a>
  <!-- links to an in-page anchor -->
  <a th:fragment="anchor(literal, href)"
     class="in-page-anchor-link"
     th:title="${literal}" th:href="${href}" th:utext="${literal}">
    Template Dummy Text
  </a>
  <!-- cards for B站(www.bilibili.com) -->
  <div th:fragment="bilibili-video-card(literal, bvId, page)" class="bilibili-video-container">
    <div class="banner">
      <a data-th-replace="~{templates::bilibili-video(${literal}, ${bvId}, ${page})}"></a>
      <span class="bilibili-toggle" th:data-alm-src="@{https://player.bilibili.com/player.html(bvid=${bvId},page=${page},high_quality=1,as_wide=1,danmaku=0)}">展开</span>
    </div>
    <iframe class="video-frame" allow="fullscreen" loading="lazy"
            sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"
            src="">
    </iframe>
  </div>
  <script th:fragment="bilibili-video-card-js" type="application/javascript" src="../static/bilibili-video-card.js"
          th:src="@{./static/bilibili-video-card.js}"></script>
  <link th:fragment="bilibili-video-card-css" rel="stylesheet" type="text/css" href="../static/bilibili-video-card.css"
        th:href="@{./static/bilibili-video-card.css}"/>
  <!-- cards for 网易云音乐(music.163.com) -->
  <div th:fragment="music163-card(params)" class="music163-container">
    <div class="banner">
      <a data-th-replace="~{templates::external(网易云音乐, @{'https://music.163.com/#/song?id=' + ${params.get(0)}})}"></a>
    </div>
    <iframe class="music-frame" loading="lazy"
            th:src="@{https://music.163.com/outchain/player(type=2,id=${params.get(0)},auto=0,height=32)}">
    </iframe>
  </div>
  <link th:fragment="music163-card-css" rel="stylesheet" type="text/css" href="../static/music163-card.css"
        th:href="@{./static/music163-card.css}"/>
  <!-- spoiler alerts -->
  <div th:fragment="spoiler" class="spoiler">
    <div>
      <img alt="注意！" title="注意！" src="../static/attention.svg"
           th:src="@{./static/attention.svg}"/>
      <div>
        <p>剧透预警！！！</p>
        <p>本条目可能对作品剧情进行剧透！</p>
        <p>为最佳观赏效果，请勿在完成观赏前阅读！</p>
        <p>同时，应当避免观看弹幕及评论！！！</p>
      </div>
    </div>
  </div>
  <link th:fragment="spoiler-css" rel="stylesheet" type="text/css" href="../static/spoiler.css"
        th:href="@{./static/spoiler.css}"/>
</div>
</body>
</html>